nav {
    width: 200px;
    background-color: rgb(40, 243, 243);
    padding-top: 20px;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav ul li:hover {
    background-color: burlywood;
}

nav ul li i {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.contenido {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
}

*{box-sizing:border-box;}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}