<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nueva Partida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar Partida</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="submitForm()">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre de la partida</ion-label>
            <ion-input type="text" [(ngModel)]="partida.nombre" name="nombre" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Juego</ion-label>
            <ion-input type="text" [(ngModel)]="partida.juego" name="juego" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Fecha</ion-label>
            <ion-input type="date" [(ngModel)]="partida.fecha" name="fecha" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Selecciona los jugadores</ion-label>
          </ion-item>

          <!-- Aquí corregimos el error eliminando ion-checkbox-group -->
          <ion-list>
            <ion-item *ngFor="let jugador of jugadores">
              <ion-label>{{ jugador.name }}</ion-label>
              <ion-checkbox (ionChange)="togglePlayerSelection(jugador)"
                            [checked]="selectedPlayers.includes(jugador)"></ion-checkbox>
            </ion-item>
          </ion-list>

        </ion-list>
        <ion-button expand="full" type="submit">Guardar Partida</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
