<nav class="navbar">
    <div class="logo-container">
      <img src="assets/img/imagen6.jpg" alt="Logo Estudio AF" class="logo" />
      <span class="company-name">Estudio AF</span>
    </div>
    <ul>
      <li><a routerLink="/users">Usuarios</a></li>
      <li><a routerLink="/catalogo-productos">Catálogo de Productos</a></li>
      <li><a routerLink="/sobre-nosotros">Sobre Nosotros</a></li>
      <li><a routerLink="/mi-cuenta">Mi Perfil</a></li> <!-- Asegúrate de que la ruta es /mi-cuenta -->
    </ul>
  </nav>
  
  
  
  
  
