<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHDOksrwN7pDuGkNIgqdqVU4okmutHU4P9DA&s" />
    <ion-card-header>
      <ion-card-title>Random</ion-card-title>
      <ion-card-subtitle>Meme random xd</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      esto es un meme random jaja.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Otras imágenes</ion-card-title>
      <ion-card-subtitle>random</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.penstagram.com/uploads/default/original/3X/2/b/2b6cdfa758227bcace88a22a156fe75c26e1a145.jpeg" />
          </ion-thumbnail>
          <ion-label>1</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnzNLPlZtpgGE_A_Jkp3wHV7UAg_cLRd8EvQ&s" />
          </ion-thumbnail>
          <ion-label>2</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://img-07.stickers.cloud/packs/65dfc4f0-c8a5-42a0-91c2-c77f2faf1549/webp/ff04dafc-3f60-414d-ab70-534177e19c72.webp" />
          </ion-thumbnail>
          <ion-label>3</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp-7WmGrclnPy4Y7vQMYkdkORBUeQcmyVigw&s" />
          </ion-thumbnail>
          <ion-label>4</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Color 1</ion-card-title>
      <ion-card-subtitle>Azul</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Este es un color azul </ion-card-content>
  </ion-card>
  
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Colro 2</ion-card-title>
      <ion-card-subtitle>Azul cielo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Este es un color azul cielo </ion-card-content>
  </ion-card>
  
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Color 3</ion-card-title>
      <ion-card-subtitle>Morado claro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Este es un color morado claro </ion-card-content>
  </ion-card>
  
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Color 4</ion-card-title>
      <ion-card-subtitle>Verde</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Este es un color verde </ion-card-content>
  </ion-card>
  
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Color 5</ion-card-title>
      <ion-card-subtitle>Amarillo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Este es un color amarillo </ion-card-content>
  </ion-card>
  
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Color 6</ion-card-title>
      <ion-card-subtitle>Rojo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Este es un color rojo </ion-card-content>
  </ion-card>
</ion-content>
