<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container">
    <img [src]="profileImage" class="profile-img" alt="Foto de perfil">
  </div>

  <ion-button expand="full" (click)="selectImage(CameraSource.Camera)">
    📷 Tomar foto
  </ion-button>

  <ion-button expand="full" (click)="selectImage(CameraSource.Photos)">
    🖼 Elegir de galería
  </ion-button>
</ion-content>
